{% extends "base.html" %}

{% block content %}

{% load static %}

<main class="song-main">
    <h1 class="text-center song-head">Blue Pulse Anthology</h1>
    <div class="container">
        <div class="row">
            {% for song in songs %}
            <div class="col-md-4 mb-4 ">
                <div class="card song-card intellectual-grey pt-2">
                    <img src="{{ song.song_image.url }}" class="mx-auto" alt="{{ song.song_title }} Image" width="200"
                        height="250">
                    <div class="card-body flex align-items-center justify-content-center ">
                        <h4 class="card-title text-center">{{ song.song_title }}</h4>
                        <h5 class="card-subtitle text-center">{{ song.artist_name }}</h5>
                        <!-- Remove download from slider -->
                        <audio controls controlsList="nodownload" id="songplay"
                            class="m-3 col-md-10 col-11 align-items-center justify-content-center">
                            <source src="{{ song.song_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <div class=" col-md-10 flex align-items-center justify-content-center" >
                        <!-- <img src="{% static 'pdproduct.png' %}" alt="Description of the image"> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
<script>
const obj = document.getElementById("songplay");

obj.addEventListener("loadeddata", () => {
  if (obj.readyState >= 2) {
    obj.play();
  }
});
</script>
{% endblock %}