{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>All Songs with Comments</h2>
        {% for song in songs %}
            <h3>{{ song.artist_name }} - {{ song.song_title }}</h3>
            {% if song.comments.all %}
                <ul class="list-group">
                    {% for comment in song.comments.all %}
                        <li class="list-group-item">
                            <strong>{{ comment.user_profile.user.username }}</strong>: {{ comment.text }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}