{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>All Comments for {{ music.artist_name }} - {{ music.song_title }}</h2>
        {% if comments %}
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <strong>{{ comment.user_profile.user.username }}</strong>: {{ comment.text }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
    </div>
{% endblock %}