{% extends 'base.html' %}


{% block content %}
  <div style="margin-top: 70px;">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        {% for good in all_goods %}
        <div class="col-lg-4 col-md-6 col-sm-12  mb-4 d-flex align-items-center justify-content-center">
          <div class="card merch-card-text">
            <img src="{{ good.image.url }}" class="card-img-top" alt="{{ good.name }} product image" height="300" >
            <div class="card-body indigo-dye rounded-1">
              <h5 class="card-title">{{ good.name }}</h5>
              <p class="card-text">{{ good.description }}</p>
              <p class="card-text">Price: €{{ good.price }}</p>
              <p class="card-text">Category: {{ good.category }}</p>
              
              <small class="text-white rating"><i class="fas fa-star mr-1 star" style="color: gold;"></i> {{ good.rating }} / 5</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}